@media screen and (max-width: 1240px) {
  body {
    .container {
      max-width: 991px;
    }
    header {
      .center_section {
        .navbar {
          width: 56%;
          li {
            a {
              font-size: 14px;
            }
          }
        }
        .auth {
          .login_btn {
            padding-left: 15px;
          }
        }
      }
    }
    main {
      .main_slider_section {
        .container {
          .owl-carousel {
            .owl-nav {
              display: none;
            }
          }
        }
      }
      .youtube_videos_section {
        .container {
          .scrollable_blocl {
            .center {
              .item:first-child {
                width: 65%;
              }
            }
          }
        }
      }
      .customer_ratings_section {
        .container {
          .center {
            .owl-nav {
              display: none;
            }
            .owl-carousel {
              .item{
                width: calc(100vw / 2 - 32px);
              }
            }
          }
        }
      }
    }
    footer {
      .center_section {
        .container {
          .links {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  body {
    .mt-block {
      margin-top: 50px;
    }
    .container {
      padding: 0px 16px;
    }
    .my_modal {
      .modal_center {
          .modal_inner {
              width: 90%;
              padding: 20px;
              padding-top: 30px;
          }
          .how_to_order {
            .title{
              font-size: 18px;
            }
            .description{
              font-size: 12px;
              line-height: 19px;
            }
            .video{
              height: 240px;
            }
          }
      }
  }
    header {
      .top_section {
        display: none;
      }
      .center_section {
        border-top: none;
        .mobile_btn_menu {
          display: block;
        }
        .navbar {
          display: none;
        }
        .auth {
          display: none;
        }
      }
      .mobile_auth {
        display: flex;
      }
      .bottom_section {
        flex-direction: column-reverse;
        height: auto;
        align-items: flex-start;
        .order_btn {
          width: 100%;
          margin: 25px 0px 25px 0px;
          height: 42px;
        }
      }
    }
    main {
      //components
      .scrollable_block {
        overflow-x: scroll;
        margin-right: -16px;
        padding-right: 15px;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          display: none;
          width: 0px;
        }
      }
      //
      .main_slider_section {
        .container {
          .owl-carousel {
            .item {
              flex-direction: column;
              .slider_desc_side {
                width: 100%;
                min-height: 125px;
                .slider_overtitle {
                  h2 {
                    font-size: 22px;
                    line-height: 22px;
                    margin-bottom: 10px;
                  }
                  p {
                    line-height: 16px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                  }
                  a {
                    display: none;
                  }
                }
              }
              .slider_img_cont {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .slider_img {
                  position: static;
                  transform: none;
                }
              }
              .mobile_btn {
                display: flex;
              }
            }
            .owl-nav {
              top: auto;
              bottom: 100px;
              transform: none;
              display: flex;
              button {
                &.owl-next {
                  right: 0px;
                }
                &.owl-prev {
                  left: 0px;
                }
              }
            }
            .owl-dots {
              display: none;
            }
          }
        }
      }
      .info_and_services_section {
        .container {
          flex-direction: column;
          padding-bottom: 50px;
          .description_section {
            .title {
              font-size: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
          .item {
            width: 100%;
            min-height: auto;
            .kuryer_delivery {
              width: 94px;
              height: 135px;
            }
            .attention {
              width: 75px;
              height: 131px;
            }
            .kuryer_order {
              width: 92px;
              height: 113px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 0px;
            }
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          .service_item {
            padding: 20px;
            display: block;
            .left {
              display: block;
              width: 100%;
              .title {
                font-size: 16px;
              }
              p {
                font-size: 12px;
                line-height: 16px;
              }
              img {
                display: block;
                margin-left: 10px;
                float: right;
              }
              .btn_more {
                width: 100%;
              }
            }
            img {
              display: none;
            }
          }
        }
      }
      .order_prices_section {
        .container {
          padding-bottom: 50px;
          .heads {
            flex-direction: column;
            .left_head {
              .country {
                span {
                  font-size: 20px;
                  margin-left: 10px;
                }
              }
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 30px;
              .title {
                margin: 0px;
                font-size: 18px;
                text-align: right;
              }
            }
            .right_head {
              width: 100%;
              .title {
                font-size: 18px;
                margin-bottom: 10px;
              }
              .info_text {
                margin-bottom: 20px;
              }
            }
          }
          .price_blocks {
            flex-direction: column;
            .info_block {
              width: 100%;
              padding: 20px;
              &:not(:last-child) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      .calculator_section {
        .container {
          .calculator {
            padding: 20px;
            .head {
              .clear_btn_mobile {
                display: block;
              }
            }
            .inputs {
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: flex-start;
              .item {
                width: 48%;
                max-width: 100%;
                &:not(:nth-last-child(-n + 2)) {
                  margin-bottom: 12px;
                }
              }
              .calculate_btn_mobile {
                display: flex;
              }
            }
            .foot {
              margin-top: 20px;
              .clear_btn {
                display: none;
              }
              .calculate {
                width: 100%;
                .price {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin: 0px;
                }
                .calculate_btn {
                  display: none;
                }
              }
            }
          }
        }
      }
      .how_us_work_section {
        .container {
          flex-direction: column;
          padding-bottom: 50px;
          .description_section {
            .title {
              font-size: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
          .item {
            width: 100%;
            min-height: 222px;
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 0px;
            }
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          .left_side {
            justify-content: flex-start;
            padding-left: 150px;
            padding-right: 0px !important;
          }
          .answer_item {
            padding-right: 150px;
            .img {
              width: 180px;
              height: 180px;
            }
            .number {
              font-size: 50px;
            }
            .content {
              width: 100%;
              .title {
                font-size: 16px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
      .news_and_updates {
        .container {
          padding-bottom: 50px;
          .head {
            .title {
              font-size: 22px;
            }
            .description {
              font-size: 12px;
            }
          }
          .scrollable_block {
            .center {
              min-width: max-content;
              .item {
                width: 255px;
                margin-right: 20px;
                padding: 12px;
                .img {
                  height: 228px;
                }
                .content {
                  height: 102px;
                  .head_content {
                    .title_content {
                      font-size: 16px;
                    }
                    p {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .partners_carousel_section {
        .container {
          padding-bottom: 50px;
          .owl-nav {
            display: none;
          }
        }
      }
      .youtube_videos_section {
        .container {
          padding-bottom: 50px;
          .head {
            flex-direction: column;
            .content_head {
              max-width: 100%;
              .title {
                font-size: 22px;
                margin-bottom: 7px;
              }
              p {
                font-size: 12px;
              }
            }
            .channel_link {
              margin-left: 0px;
              margin-top: 20px;
              font-size: 22px;
            }
          }
          .scrollable_block {
            .center {
              display: flex;
              align-items: center;
              min-width: max-content;
              .item {
                width: 294px !important;
                height: 237px !important;
                float: none !important;
                margin-bottom: 0px !important;
                margin-right: 16px;
                .top_overlay {
                  padding: 13px;
                  width: 100%;
                  .title {
                    font-size: 16px;
                    margin-bottom: 3px;
                    .orange_color {
                      font-size: 16px;
                    }
                  }
                  p {
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 15px;
                  }
                }
                .overlay {
                  padding: 13px;
                  .content {
                    width: 100%;
                    .title {
                      font-size: 16px;
                    }
                    p {
                      font-size: 12px;
                    }
                  }
                  .date {
                    position: absolute;
                    right: 14px;
                    top: 14px;
                    span {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .customer_ratings_section {
        .container {
          padding-bottom: 50px;
          .owl-nav {
            display: none;
          }
          .head {
            .title {
              font-size: 22px;
            }
            .description {
              font-size: 12px;
            }
          }
          .center {
            overflow-x: scroll;
            margin-right: -16px;
            padding-right: 15px;
            overflow-y: hidden;
            &::-webkit-scrollbar {
              display: none;
              width: 0px;
            }
            .owl-carousel {
              min-width: max-content;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .item {
                width: 293px;
                margin-right: 16px;
              }
            }
          }
        }
      }
    }
    footer {
      margin-top: 50px;
      .top_section {
        display: none;
      }
      .center_section {
        padding-top: 30px;
        border: none;

        .container {
          flex-direction: column;
          .mobile_foot_logo {
            display: block;
          }
          .mobile_top_section {
            display: flex;
          }
          .contact_us {
            width: 100%;
            .head {
              h3 {
                font-size: 22px;
              }
              p {
                font-size: 12px;
              }
            }
            .contact_form {
              .btn_send {
                height: 40px;
                width: 100%;
              }
            }
          }
          .links {
            margin: 30px 0px;
            padding: 0px;
            border: none;
            width: 100%;
            li {
              float: left;
              width: calc(100% / 2);
              &:not(:last-child) {
                margin-bottom: 15px;
              }
            }
          }
          .adress {
            width: 100%;
          }
          .mobile_apps_row {
            display: flex;
          }
          .mobile_foot_info {
            display: flex;
          }
        }
      }
      .bottom_section {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  body {
    main {
      .calculator_section {
        .container {
          .calculator {
            .inputs {
              .item {
                width: 100%;
                &:not(:last-child) {
                  margin-bottom: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
